# {{ ansible_managed }}
# ClusterSecretStore "vault-backend" (External Secrets Operator)
path "{{ vault_init_kv_path }}/data/platform/*" {
  capabilities = ["read"]
}
path "{{ vault_init_kv_path }}/data/tenants/*" {
  capabilities = ["read"]
}
path "{{ vault_init_kv_path }}/metadata/*" {
  capabilities = ["read", "list"]
}
# cert-manager internal CA public cert is pushed back by a PushSecret
path "{{ vault_init_kv_path }}/data/platform/internal-ca-public" {
  capabilities = ["create", "update", "read"]
}
